<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>SHARIF CLINIC</title>
</head>


<body>
    <a style="color: brown;background-color: burlywood;border-radius:5px;position: absolute; top: 10px; right: 10px;" href="{% url 'logout' %}">Logout</a>
    <h1 style="text-align: center;color: #003366">SHARIF CLINIC</h1>
    <!-- remove the blink class from this element -->
    <p style="color: black;font-size: 20px" class="blink"><strong>Welcome to big Sharif Clinic!</strong></p>
    <!-- add the strong tag around the text -->
    <p style="font-size: 18px" class="blink"><strong>this clinic is the largest clinic in the Middle East.</strong></p>
    <!-- add the strong tag around the text -->
    <p style="font-size: 18px" class="blink"><strong>Sharif Clinic can book an appointment for you from thousands of other clinics that are registeres in it.</strong></p>
    <!-- add the strong tag around the text -->
    <p style="font-size: 18px" class="blink"><strong>Thank you for your trust.</strong></p>
    <!-- add the strong tag around the text -->
    <p style="font-size: 18px" class="blink"><strong>dear patient!</strong></p>
    <p style="color: rebeccapurple;"><strong>what would you like us to do for you?</strong></p>
    <!-- remove the blink class from this element -->
    <a style="color: darkorchid" href="{% url 'book_appointment' %}" class="btn btn-primary">BookAppointment</a>

    <a style="color: darkorchid" href="{% url 'user_appointments' %}">View Your Appointments</a>
</body>

</script>

<style>
    body {
        height: 100vh;
  background: linear-gradient(to bottom, #7283f3, #56b2b6);
}

</style>
<div id="alert" style="background-color: #4c914c; color: white; padding: 10px; margin: 10px;text-align: center;">
  با موفقیت وارد شدید!
</div>
<script>
  // این تابع اعلان را پس از دو ثانیه مخفی می‌کند
  function hideAlert() {
    var alert = document.getElementById("alert");
    alert.style.display = "none";
  }
  // این تابع تابع hideAlert را پس از دو ثانیه فراخوانی می‌کند
  function showAlert() {
    setTimeout(hideAlert, 2000);
  }
  // این تابع تابع showAlert را هنگام بارگذاری صفحه فراخوانی می‌کند
  window.onload = showAlert;
</script>
</html>
