<!--<!DOCTYPE html>-->
<!--<html lang="fa">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>SHARIF CLINIC</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1 style="text-align: center;">SHARIF CLINIC</h1>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>SHARIF CLINIC</title>
</head>
<body>
    <h1 style="text-align: center;">SHARIF CLINIC</h1>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'user_booking' %}">Online Booking</a>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'home' %}">Home</a>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'profile_patient' %}">profile</a>
</body>
</html>

