<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>SHARIF CLINIC</title>
</head>
<body>
    <h1 style="text-align: center;">SHARIF CLINIC</h1>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'home' %}">Home</a>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'profile_secretary' %}">profile</a>
    <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'calendar_secretary' %}">calendar</a>
</body>
</html>
